* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Roboto', Arial,
    sans-serif;
}
.navbar {
  font-size: 25px;
}
.navbar-nav .nav-link:hover {
  color: #007bff; /* Cambia el color del texto al pasar el mouse */
  text-decoration: underline; /* Agrega un subrayado */
}
.navbar-nav .nav-link {
  transition: all 0.3s ease; /* Agrega una transición suave */
}

.navbar-nav .nav-link:hover {
  color: #007bff;
  text-decoration: underline;
  /* transform: scale(1.1); Agranda ligeramente el enlace al pasar el mouse */
}
h2 {
  text-decoration: underline;
}
.card-body :hover {
  color: #007bff;
  transition: all 0.3s ease;
  transform: scale(1.1);
}
h3 {
  padding-left: 30px;
  text-decoration: underline;
}
.sec {
  width: 100%;
  height: 20%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
}
.img_carousel {
  width: 100%;
  height: 800px;
}
.carousel {
  width: 80%;
  display: flex;
  margin-left: 10%;
  justify-content: center;
  border: 4px solid #111213; /* Agrega un borde azul de 4px de ancho */
  border-radius: 10px; /* Agrega esquinas redondeadas con un radio de 10px */
}

footer {
  display: flex;
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
}
ul a {
  transition: all 0.3s ease; /* Agrega una transición suave */
  text-decoration: none; /* Elimina el subrayado predeterminado */
}
ul a:hover {
  display: block;
  color: #007bff; /* Cambia el color del texto al pasar el mouse */
  text-decoration: underline; /* Agrega un subrayado */
}
@media (max-width: 427px) {
  .escudo {
    display: none !important;
  }
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.3);
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: rgb(255, 255, 255);
  text-align: center;
}

